<div class="ui cards">
    <div class="card" ng-repeat="server in servers track by server.nome">
      <div class="content">
          <div class="header">
              {{server.nome}}
              <hr>
          </div>
          <div class="description" ng-controller="monitorServerCtrl">
              <div class="ui internally celled grid" ng-repeat="res in results">
                  <div class="row">
                      <div class="eight wide column">{{res.name}}</div>
                      <div class="eight wide column">{{res.value}} {{res.mu}}</div>
                  </div>
              </div>
              <div class="ui internally celled grid">
                  <div class="row">
                      <div class="eight wide column">TOTAL TIME</div>
                      <div class="eight wide column">{{totalTime}} ms</div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>